@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@layer base {
  body {
    @apply bg-black bg-[url(./assets/background.svg)];
  }
}

@layer components {
  .big-container {
    @apply z-20 mx-[4vw] my-[2vh] mb-[3vh] flex snap-center flex-col rounded-2xl border border-gray-100 border-opacity-50 bg-gray-600 bg-opacity-10 backdrop-blur-md backdrop-filter md:mx-[2vw] md:my-0 md:min-h-[90vh] md:items-start;
  }
}

@layer base {
  h1{
    font-size: 7vw;
  }
  
  h2 {
    font-size: 6vw;
  }
  h3{
    font-size: 4vw;
  }

}
  @screen md { 
    h1{
      font-size:4vw;
    }
    h2 {
      font-size: 2.5vw;
    }
    h3{
      font-size:1.5vw;
    }
  }

    @screen 3xl { 
      h1{
        font-size:3vw;
      }
      h2 {
        font-size: 2vw;
      }
      h3{
        font-size:1.25vw;
      }


  }
 

@layer base {
  p {
    font-size: 4vw;
  }
  @screen md {
    p {
      font-size: 1.25vw;
    }
  }
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
